body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0px;
}

h1{
    text-align: center;
    margin: 50px auto 10px auto;
    font-size: 50px;
    cursor: pointer;
}

#menu{
    max-width:1200px;
    margin: 0px auto 10px auto;
    padding: 30px;
    color: rgb(130,130,130);
}

#menu > span{
    padding: 3px 8px;
    font-size: 1em;
    border-radius: 10px;
    background-color: rgb(236, 234, 234);
    display: inline-block;
    margin:4px;
    cursor: pointer;
}

#menu > button{
    
    font-family: 'Noto Sans', sans-serif;
    padding: 3px 8px;
    font-size: 1em;
    border-radius: 10px;
    background-color: rgb(236, 234, 234);
    display: inline-block;
    margin:4px;
    cursor: pointer;
    border: 0px;
    color: rgb(130,130,130);
}

.active {
    background-color: #d7194a !important; /* Example: Blue background for active tags */
    color: white !important;
}

.years{
    margin: 20px 0px 8px 0px;
    color: rgb(100,100,100);
}

.years > span{
    padding: 2px 5px;
    margin-right: 3px;
    font-size: 0.7em;
}

.years > span:nth-of-type(1){
    background-color:rgb(0,150,50);
    color: white;
}
.years > span:nth-of-type(2){
    background-color: gainsboro;
}

.tags{
    color: rgb(130,130,130);
    font-size: 0.7em;
}

.tags > span{
    padding: 2px 5px;
    border-radius: 5px;
    margin-right: 3px;
    background-color: rgb(236, 234, 234);
    /*cursor: pointer;*/
}


h2{
    margin: 0px 0 5px 0;
    color: rgb(50,50,50);
}

h3{
    margin: 0px 0px 10px 0px;
    color: rgb(100,100,100);
    font-weight: 100;
}


.container-books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.entry-books{
    max-width:270px;
    padding: 0px 40px 40px 40px;
}

.entry-books p{
    margin-top: 0px;
    color: rgb(100,100,100);
}

img{
    max-width:270px;
}

.top-authors{
    max-width: 1200px;
    margin: 60px auto;
    line-height: 1.6;
    text-align: center;
    color: grey;
}

#search{
    text-align: center;
    margin-bottom: 50px;
}

input{
    font-family: 'Noto Sans', sans-serif;
    padding: 10px;
    font-size: 1em;
    border-radius: 10px;
    background-color: rgb(236, 234, 234);
    display: inline-block;
    cursor: pointer;
    border: 0px;
    color: rgb(130,130,130);
    text-align: left;
}

input:focus {
    background-color: rgb(243, 241, 241);
    border: 0px;
    outline: none;  /* Disables the default focus outline */
    border: none;   /* Removes the border when the input is focused */
}

